.a_vider{
    display: inline-block;
}
.graphique{
    vertical-align:top;
    margin-left:auto;
    margin-right:auto;
    display:inline-block;

    border: double blue;
}
.titre_graphe{
    text-align: center;
}


